<br />
<br />
<br />
<br />
<div class ="container">
	<a href="/mangas/new">New Manga</a> <br />
	<a href="/artists/new">New Artist</a><br />
	<a href="/authors/new">New Author</a><br />
	<a href="/chapters/new">New Chapter</a><br />
</div>
