<h1>Manga#index</h1>
<p>Find me in app/views/manga/index.html.erb</p>

<div>
	<% @manga.each do |m| %>
		<p> name : <%= m.name %></p>
		<p> description : <%= m.description %></p>
		<p><img src=<%=m.image_directory %> alt="<%=m.name %>" /></p>
	<% end %>
</div>

